<!DOCTYPE html>
{% load static %}

<html>
    <head>
      <!-- favicon -->
      <link rel="icon" type="image/png" href="{% static 'image/favicon-placeholder.png' %}"/>

      <!-- Special characters -->
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

      <!-- Required meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- adjust viewport for smartphone -->

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
      <!-- Main CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

      {% block head %}{% endblock head %}

      {% if title %} <title>{{ title }}</title>
      {% else %}     <title>temp title</title>
      {% endif %} 

      <script>
        var user = '{{request.user}}';

        function getCSRFToken(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          } 
          return cookieValue;
        } 
        const csrftoken = getCSRFToken('csrftoken');
      </script>


    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'store' %}">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown dropleft">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a href="{% url 'category' selected_category='no-filter' %}">
                  <button class="dropdown-item">no filter</button>
                </a>
                <div class="dropdown-divider"></div>
                {% for category in product_categories %}
                  <a href="{% url 'category' selected_category=category %}">
                    <button class="dropdown-item">{{category}}</button>
                  </a>
                {% endfor %}
              </div>
            </li>
          </ul>
        </div>
      </nav>


      <div class="container block-content">
        {% block content %} {% endblock content %}
        <div id="snackbar"></div>
      </div>
      {% block footer %} {% endblock footer %}

    
    

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        

      <!-- Main JavaScript -->
      <script type="text/JavaScript" src="{% static 'js/main.js' %}"></script>  
      {% block js %} {% endblock js %}

    </body>
</html>
